{% assign current = page.url | split: '/' | last | split: '.' | first %}
{% if page.url == '/' %}
  {% assign current = 'home' %}
{% elsif page.layout == 'post' %}
  {% assign current = 'blog' %}
{% endif %}
{% assign navigation = 'home,publications,experience,presentations,blog,tags' | split: ',' %}
<section id="header-nav">
  <header>
    <nav>
      <ul>
        {% for item in navigation %}
          {% assign label = item | capitalize %}
          {% if item == 'experience' %}
            {% assign label = 'Research Experience' %}
          {% endif %}
          {% assign enabled = site.data.homepage.navigation[item] %}
          {% assign href = '/' | append: item %}
          {% if item == 'home' %}
            {% assign enabled = true %}
            {% assign href = '/' %}
          {% elsif item == 'tags' %}
            {% assign enabled = site.data.homepage.navigation.blog %}
          {% endif %}
          {% if enabled %}
            {% if current == item %}
              <li class="current" aria-current="page">{{ label }}</li>
            {% else %}
              <li class="btn-nav"><a href="{{ href | relative_url }}">{{ label }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </header>
</section>
