.research-experience {
  a {
    border-bottom: 1px dashed;
    &:hover {
      border-bottom-style: solid;
    }
  }
  ul.exper-list {
    margin-top: 25px;
    margin-left: 3%;
    border-left: 5px solid $theme-color;
    list-style-type: none;
    li {
      animation-name: fadein;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      -webkit-animation-name: fadein;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
    }
    li.meta {
      position: relative;
      padding: 15px 0 15px 30px;
      p {
        /*font-weight: 600;*/
        line-height: 1.5;
      }
      .date {
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.5);
      }
      .description {
        font-size: 1rem;
      }
    }
    li.meta::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 42%;
      left: -10px;
      background-color: $theme-color;
      border-radius: 50%;
    }
  }
  @keyframes fadein {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
