#presentations {
    ol.presentations-list{
        list-style-type: none;
        li {
            font-size: 1.05rem;
            margin-bottom: 1.5rem;
            .title {
                font-weight: bolder;
                font-style: normal;
            }
            .event {
            }
            .date {
                font-style: normal;
                margin-left: 0.5rem;
            }
        }
    }
}
